*{
  box-sizing: border-box;
}


body
{
 margin: 0;
 
 color: white;
 
}

.App {
  background-image: url(./img/react-icon-half.png);
  background-repeat: no-repeat;
  background-position: right 75%;
  background-color: grey;
  height: 100vh;
}

.nav-icon {
  height: 30px;
  margin-right: 7px;
  padding-right: 10px;
}

.App {
  margin: 0;
  

}
.container {
  display: flex;
  margin: 0;
  align-items: center;
  background-color: black;
  height: 90px;
  padding: 0 20px;
  background-image: url;
  

}

.first-heading, .sub-heading {
  padding: 0;
} 

.first-heading {
  color: blue;
  margin-right: auto;
}

.sub-heading {
  margin-left: 50px;
}

.content {
  margin-left: 27px;
  align-items: center;
 padding: 50px;
}
li {
  padding-block: 10px;
  max-width: 400px;
}
li::marker {
  font-size: 1.4rem;
  color: blue;
}